@model GiftStore.Models.Projectpresent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Projectpresent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <select asp-for="User.Username" class="form-control" asp-items="ViewBag.Userid"></select>
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reciveraddress" class="control-label"></label>
                <input asp-for="Reciveraddress" class="form-control" />
                <span asp-validation-for="Reciveraddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gifts.Name" class="control-label"></label>
                <select asp-for="Gifts.Name" class="form-control" asp-items="ViewBag.Giftsid"></select>
                <span asp-validation-for="Gifts.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requestdate" class="control-label"></label>
                <input asp-for="Requestdate" class="form-control" />
                <span asp-validation-for="Requestdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

